<table border=1>
    <tr>
        <th>
            Name:
        </th>
        <th>Email</th>
    </tr>
    <tr>
        <td>{{user.fname}} {{user.lname}}</td>
        <td>{{user.email}}</td>
    </tr>
</table>